*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003459;
}
.container{
  width: 385px;
  height: min-content;
  background-color: #fff;
  border-radius: 9px;
  padding: 20px;
  border: solid 2px black;
}
.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box input{
  width: 85%;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  background-color: #e6f5fb;
  padding: 12px 16px;
  border-radius: 10px;
  
}
.search-box input::placeholder{
  color: #000;
}
.search-box button{
  background-color: #e6f5fb;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 18px;
  margin-left: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  cursor: pointer;
}
.search-box button:hover{
  background-color: #D9D9D9;
}
.weather-body{
  display: none;
  flex-direction: column;
  align-items: center;
}
.weather-body img{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  border-radius: 10px;
}
.weather-box{
  margin-block: 20px;
  text-align: center;
}
.weather-box .temperature{
  font-size: 40px;
  font-weight: 800;
  position: relative;
}
.weather-box .temperature sup{
  font-size: 20px;
  font-weight: 600;
  position: absolute;
}
.weather-box .description{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 5px;
   margin-right: 8px;
}

.wind{
  
    margin-right: 5px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}
.location-not-found{
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.location-not-found img{
  margin-top: 20px;
  width: 100%;
  margin-block-end: 15px;
}
.location-not-found h1{
  font-size: 19px;
  color: #6b6b6b;
}